/* General Style */

body {
    background: white;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

table,
th,
td {
    border: 1px solid black;
    color: black;
}

p {
    font-size: small;
    font-family: Courier New;
}

/* Div Class Style */

.title {
    font-size: 65px;
}

.fantastic {
    background-color: #9C6CEB;
    color: beige;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
}

/* Image ID Style */

#jasper {
    width: 200px;
    height: 100px;
}

#stylingErrorDisplay {
    width: 350px;
    height: 300px;
    border: 1px solid black;
}

#borderDisplay {
    width: 450px;
    height: 300px;
}

#combine-universal {
    width: 450px;
    height: 300px;
}

#responsive {
    width: 450px;
    height: 300px;
    border: 1px solid black;
}

/* JS Style */

.run-js-button {
    background-color: #FF8280;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 5px;
    font-family: Courier New;
    font-size: small;
}