/* General Style */

body {
    background: white;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

table,
th,
td {
    border: 1px solid black;
    color: black;
}

p {
    font-size: x-large;
    font-family: Courier New;
    width: 90%;
}

figcaption {
    color: black;
    font-size: medium;
    font-family: Courier New;
}

quote {
    color: black;
    font-size: medium;
    font-family: Courier New;
}

a {
    font-size: x-large;
    font-family: Courier New;
}

/* Nav style */

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding: 5px;
    margin: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #9C6CEB;
}

#blogs {
    list-style-type: none;
}

#blogs li a {
    color: beige;
}

#blogs li a:hover {
    font-size: large;
    font-weight: bold;
    background-color: cornflowerblue;
}

/* Div Class Style */

.title {
    font-size: 65px;
}

.fantastic {
    background-color: #9C6CEB;
    color: beige;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
}

/* Image ID Style */

#jasper {
    width: 200px;
    height: 100px;
}

#stylingErrorDisplay {
    width: 350px;
    height: 300px;
    border: 1px solid black;
}

#borderDisplay {
    width: 450px;
    height: 300px;
}

#combine-universal {
    width: 450px;
    height: 300px;
}

#responsive {
    width: 450px;
    height: 300px;
    border: 1px solid black;
}

.froggy {
    width: 450px;
    height: 300px;
}

#flex-margin,
#flex-width {
    width: 450px;
    height: 300px;
}

#flex-row {
    width: 650px;
    height: 300px;
}

/* JS Style */

.run-js-button {
    background-color: #FF8280;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 5px;
    font-family: Courier New;
    font-size: small;
}

/* blog navigation css */

.next-previous a {
    text-decoration: none;
    font-family: Courier New;
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border: solid beige 1px;
}

.next-previous a:hover {
    background-color: #9C6CEB;
    color: beige;
}

.previous {
    background-color: #9C6CEB;
    color: beige;
}

.next {
    background-color: #9C6CEB;
    color: beige;
}

.round {
    border-radius: 50%;
}